version: "3.9"

services:
  app:
    image: sheikhsohag/laravel-app:latest
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    env_file:
      - .env
    volumes:
      - ./storage:/var/www/storage
      # Mount specific directories, not everything
      - ./app:/var/www/app
      - ./routes:/var/www/routes
      - ./config:/var/www/config
      - ./resources:/var/www/resources
      - ./tests:/var/www/tests
      - ./database:/var/www/database
      - ./public:/var/www/public
      - ./bootstrap/app.php:/var/www/bootstrap/app.php

    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./storage:/var/www/storage
      - .:/var/www
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: laravel_redis
    restart: unless-stopped
    networks:
      - laravel

  adminer:
    image: adminer
    container_name: laravel_adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysql_data:
