name: Laravel Docker Versioned CI

on:
  push:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: self-hosted
    env:
      IMAGE_NAME: sheikhsohag/laravel-app
      IMAGE_TAG: v${{ github.run_number }}

    steps:
      - name: Pre-cleanup for Checkout
        # হোস্ট মেশিনের ফাইল পারমিশন ইস্যু ঠিক করার জন্য এটি দরকার
        run: sudo chown -R $USER:$USER . && sudo chmod -R 775 . || true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t $IMAGE_NAME:$IMAGE_TAG \
            -t $IMAGE_NAME:latest \
            -f ./docker/php/Dockerfile .

      - name: Push Docker images
        run: |
          docker push $IMAGE_NAME:$IMAGE_TAG
          docker push $IMAGE_NAME:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    env:
      IMAGE_NAME: sheikhsohag/laravel-app
    steps:
      - name: Pre-cleanup for Checkout
        run: sudo chown -R $USER:$USER . && sudo chmod -R 775 . || true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Pull latest image
        run: docker pull $IMAGE_NAME:latest

      - name: Start Production Containers
        run: |
          docker compose -f docker-compose.prod.yml --env-file .env up -d

      - name: Set Permissions
        run: |
          # কন্টেইনারের ভেতরে পারমিশন ঠিক করা
          docker exec -u root laravel_app chown -R www-data:www-data /var/www/storage /var/www/bootstrap/cache
          docker exec -u root laravel_app chmod -R 775 /var/www/storage /var/www/bootstrap/cache

      - name: Run Laravel Migrations
        run: |
          docker exec laravel_app php artisan migrate --force

      - name: Cleanup Old Images
        run: docker image prune -f
