name: Laravel Docker Versioned CI

on:
  push:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: self-hosted
    env:
      IMAGE_NAME: sheikhsohag/laravel-app
      IMAGE_TAG: v${{ github.run_number }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t $IMAGE_NAME:$IMAGE_TAG \
            -t $IMAGE_NAME:latest \
            -f ./docker/php/Dockerfile .

      - name: Push Docker images
        run: |
          docker push $IMAGE_NAME:$IMAGE_TAG
          docker push $IMAGE_NAME:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    env:
      IMAGE_NAME: sheikhsohag/laravel-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ১. এনভায়রনমেন্ট ফাইল তৈরি করা (Secrets থেকে)
      - name: Create .env file
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      # ২. লেটেস্ট ইমেজ পুল করা
      - name: Pull latest image
        run: docker pull $IMAGE_NAME:latest

      - name: Run Laravel Migrations
        run: |
          docker exec -i laravel_app php artisan migrate --force


      # ৩. কন্টেইনার চালানো
      - name: Start Production Containers
        run: |
          # --env-file .env ফ্ল্যাগটি নিশ্চিত করে যে ভেরিয়েবলগুলো পাওয়া যাচ্ছে
          docker compose -f docker-compose.prod.yml --env-file .env up -d

      # ৪. ক্লিনআপ
      - name: Cleanup Old Images
        run: docker image prune -f
